#root {
    width: 400px;
}
.logo {
    margin: 10px;
}
.clock {
    padding: 10px;
    margin: 20px 10px;
    border: solid 1px #a0a0a0;
    border-radius: 5px;
    font-weight: bold;
}
.infoBox {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: solid 1px #a0a0a0;
    border-radius: 5px;
}
.type {
    font-weight: bold;
    font-size: 1.5em;
}



